
body {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  margin: 0;
}

header {
	background-color: #801a38;
	padding: 0.5em 0;
	margin-bottom: 2em;
	text-align: center;
	color: #fff;
}

section {
	margin: auto;
	width: 33%;
	font-size: 150%;
  text-align: center;
  padding: 10px 0;
  position: relative;
}

section img {
  margin: auto;
  width: 100%;
  position: absolute;
  transition: 1s;
  top: 0;
  left: 0;
}

.top-image:hover {
  opacity: 0;
  transition: 1s;
}

#swapImage {
  position: absolute;
  margin: auto;
  width: 100%;
  margin-top: 20px;
}

#swapImage p {
  padding-top: 10px;
}

#photo {
  position: absolute;
  margin: auto;
  width: 100%;
  top: 800px;
}

#hoverPhoto {
  position: absolute;
  margin: auto;
  width: 100%;
  top: 1190px;
}


/*
ul {
  text-align: left;
}

#caption {
  color: #fff;
  font-size: 200%;
  position: absolute;
  top: 340px;
  left: 615px;
}
*/

p {
  margin-top: 320px;
}
/*
#animate, #moreAnimate, #fadeDelay {
  font-size: 80%;
  margin-right: 10px;
}

.box {
  background: #98bf21;
  height: 80px;
  width: 100px;
  position: absolute;
  padding-top: 20px;
}
*/

